<p>list-thread works!</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>object</th>
      <th>question</th>
      <th>display</th>
      <th>etudiant</th>
      <th>nb_likes</th>
      <th>verified</th>
      <th>postDate</th>
      <th>updatedAt</th>
    </tr>
  </thead>
  <tbody>



    <tr *ngFor="let thread of threads">
      <td>{{ thread.id }}</td>

      <td>{{ thread.object }}</td>
      <td>{{ thread.question }}</td>
      <td>{{ thread.display }}</td>
      <td>{{ thread.etudiant }}</td>
      <td>{{ thread.nb_likes }}</td>
      <td>{{ thread.verified }}</td>
      <td>{{ thread.postDate | date: "short" }}</td>
      <td>{{ thread.updatedAt | date: "short" }}</td>
    </tr>
  </tbody>
</table>
<app-create-thread></app-create-thread>
